@import "normalize.css";
@import "button.css";
@import "checkbox.css";
@import "console.css";
@import "main-menu.css";
@import "output.css";
@import "select.css";

* {
 box-sizing: border-box;
}

html {
 font-size: 10px;
 overflow: hidden;
}

#editor {
 height: 100%;
}