/*
.tooltip[data-tooltip] {
 position: relative;
 display: inline-block;
 z-index: 10;
 cursor: help;
}

.tooltip[data-tooltip]::before {
 content: attr(data-tooltip);
 position: absolute;
 width: 50vw;
 right: 0;
 top: -5rem;
 background: var(--blue);
 color: var(--white);
 padding: 0.5em;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 pointer-events: none;
 opacity: 0;
 transition: 1s;
 border-radius: .2rem;
}

.tooltip[data-tooltip]:hover::before {
 opacity: 1;
 top: 3rem;
}



*/

.tooltip {
 position: fixed;
 padding: 10px 20px;
 border: 1px solid #b3c9ce;
 border-radius: 4px;
 text-align: center;
 font: italic 14px/1.3 sans-serif;
 color: #333333;
 background: #ffffff;
 box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
