.output { /*details*/
 width: 100%;
 position: relative;
}

.output__title { /*summary*/
 padding-top: .3rem;
 padding-bottom: .5rem;
 margin-right: 1rem;
 outline: none;
 display: inline-block;
 cursor: pointer;
 position: relative;
}

.output__field {
 resize: none;
 width: 100%;
 border: none;
 outline: none;
 overflow: auto;
}

.output__button {
 position: absolute;
 outline: none;
 top: .1rem;
 transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
 opacity: .6;
}

.output__button:active {
 transform: translateY(2px);
}

.output__button:hover {
 opacity: 1;
}